{% extends 'ctndrd/base.html' %}
{% load static %}

{% block title %}chat{% endblock %}

{% block content %}
    <section>
        <p class="notex">Display for this device's screen width is coming soon <img class="notex-img" src="{% static 'img/ctndrd4.png' %}" alt="ctndrd"></p>
        <div class="leftz">
            {% include 'ctndrd/movie-side.html' %}
        </div>
        <div class="middle">
            <div class="biodatary">
                <h4>CHAT WITH {{follower.firstname}}</h4>
            </div>
            
            <div class="biodatara">
                <div class="top-line"></div>
                <div class="message-bioz">
                    <div class="name-times">
                        <a href="{% url 'messages' %}"><i class='bx  bxs-chevrons-left'  ></i> </a>
                    </div>
                    <div class="name-times">
                        <h4>{{ follower.firstname }} {{ follower.lastname }}</h4>
                        <p>[..All chats are private..]</p>
                    </div>
                    {% if follower.profile_pic %}
                        <a href="{% url 'view_profile' follower.id %}"><img src="{{follower.profile_pic.url}}" alt=""></a>
                    {% else %}
                        <a href="{% url 'view_profile' follower.id %}"><img src="{% static 'img/user_avatar.jpg' %}" alt=""></a>
                    {% endif %}
                </div>
            </div>
            <div class="conversationary" >
                {% if chats %}
                    {% for messag in chats %}
                        {% if messag.receiver == request.user %}
                            <div class="talkleft">
                                {% if messag.sender.profile.profile_pic %}
                                    <img src="{{messag.sender.profile.profile_pic.url}}" alt="">
                                {% else %}
                                    <img src="{% static 'img/user_avatar.jpg' %}" alt="">
                                {% endif %}
                                {% if messag.image %}
                                    <div class="talkleft-message">
                                        <img src="{{messag.image.url}}" alt="">
                                        <p>{{messag.message}}</p>
                                    </div>
                                {% else %}
                                    <p>{{messag.message}}</p>
                                {% endif %}
                            </div>
                        {% elif messag.sender == request.user %}    
                            <div class="talkright">
                                {% if messag.image %}
                                    <div class="talkright-message">
                                        <img src="{{messag.image.url}}" alt="">
                                        <p>{{messag.message}}</p>
                                    </div>
                                {% else %}
                                <p>{{messag.message}}</p>
                                {% endif %}
                                {% if messag.sender.profile.profile_pic %}
                                    <img src="{{messag.sender.profile.profile_pic.url}}" alt="">
                                {% else %}
                                    <img src="{% static 'img/user_avatar.jpg' %}" alt="">
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %} 
            </div>
            <form class="chat-form">
                {% csrf_token %}
                <div class="container-input-stuffs">
                    <div class="files-logo-cont">
                        <img name="image" src="{% static 'img/paper-clip.svg' %}" alt="">
                        <input type="file" name="image" style="display: none;">
                    </div>
                    <div class="group-inp">
                        <input type="hidden" name="receiver_id" value="{{follower.id}}">
                        <textarea id="chat-input" placeholder="Enter message here" name="message" minlength="1" maxlength="10000"></textarea>
                    </div>
                    <button class="submit-msg-btn" type="button">
                        <img src="{% static 'img/send.svg' %}" alt="">
                    </button>
                </div>
            </form>
        </div>
        <div class="rightz">
            {% include 'ctndrd/shopping-side.html' %}
        </div>
    </section>
    <footer class="footer">
        <div class="foot">
            <a href="{% url 'discover' %}"><button>Discover</button></a>
            <a href="{% url 'bookmarked' %}"><button>Saved</button></a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        //for file input in chat
        const images = document.querySelectorAll('img[src*="paper-clip.svg"]');
        images.forEach((image) => {
            image.addEventListener('click', () => {
                const fileInput = image.nextElementSibling;
                fileInput.click();
            });
        });
    
        // REAL TIME CHAT
        const roomName = '{{ follower.id }}';
        const senderId = '{{ request.user.id }}';
        const receiverId = '{{ follower.id }}';
    
        const chatSocket = new WebSocket(
            'wss://' + window.location.host +
            '/ws/chat/' + roomName + '/'
        );
    
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const message = data.message;
            const sender = data.sender;
            const receiver = data.receiver;
    
            // Update the chat window with the new message
            const chatWindow = document.querySelector('.conversationary');
            const messageElement = document.createElement('div');
            if (sender == senderId) {
                messageElement.className = 'talkright';
            } else {
                messageElement.className = 'talkleft';
            }
            messageElement.innerHTML = `
                <p>${message}</p>
            `;
            chatWindow.appendChild(messageElement);
            chatWindow.scrollTop = chatWindow.scrollHeight;
        };
    
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    
        document.querySelector('.submit-msg-btn').addEventListener('click', function() {
            const messageInputDom = document.querySelector('#chat-input');
            const message = messageInputDom.value.trim();
            if (message) {
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'sender': senderId,
                    'receiver': receiverId,
                }));
                messageInputDom.value = '';
            }
        });
    </script>
    
{% endblock %}