{% extends 'ctndrd/base.html' %}
{% load static %}

{% block title %}homepage{% endblock %}

{% block content %}
    <section>
        {% if posts %}
            {% for post in posts %}
                <div class="post">
                    <div class="post-head">
                        <img src="{{ post.author.profile.profile_pic.url }}" alt="profilepic">
                        <div class="post-head-bio">
                            <h4>{{post.author.profile.firstname}} {{post.author.profile.lastname}}</h4>
                            <p>@{{post.author.username}}, posted {{post.created_at|timesince}} ago</p>
                        </div>
                        <p><i class="fa-solid fa-ellipsis"></i></p>
                    </div>
                    <div class="post-image">
                        <img src="{{ post.image.url }}" alt="">
                    </div>
                    <div class="post-actions">
                        <div class="action">
                            <p><i class='bx bx-heart'></i></p>
                            <p><i class="fa-regular fa-comments"></i></p>
                        </div>
                        <p><i class="fa-regular fa-bookmark"></i></p>
                    </div>
                    <div class="likes-comments">
                        <div class="profile-pics">
                            {% for user in post.likes.all|slice:":3" %}
                                <img src="{{ user.profile.profile_pic.url }}" alt="profilepic">
                            {% endfor %}
                        </div>
                        <div class="likcom">
                            <p><span>{{post.number_of_likes }}</span>likes</p>
                            <p><span>{{post.comments.count}}</span>comments</p>
                        </div>
                    </div>
                    <div class="post-message">
                        <h4>{{post.author.profile.firstname}}:</h4>
                        <p>{{post.content}}</p>
                    </div>
                    <div class="comments">
                        {% if post.comments.all %}
                            <div class="comm">
                                {% for comment in post.comments.all %}
                                    <div class="sub-comment">
                                        <img src="{{comment.user.profile.profile_pic.url}}" alt="">
                                        <div class="post-messages">
                                            <h4>@{{comment.user.username}}</h4>
                                            <div class="pes">
                                                <p style="font-size: 12px;">{{comment.date_added|timesince}} ago</p>
                                                <p>{{comment.body}}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="post-a-comment">
                            <form action="">
                                <input type="text" placeholder="Enter comment">
                                <button type="submit">Post</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No posts</p>
        {% endif %}
    </section>
    
{% endblock %}