{% extends 'ctndrd/base.html' %}
{% load static %}

{% block title %}messages{% endblock %}

{% block content %}
    <section>
        <p class="notex">Display for this device's screen width is coming soon <img class="notex-img" src="{% static 'img/ctndrd4.png' %}" alt="ctndrd"></p>
        <div class="leftz">
            {% include 'ctndrd/movie-side.html' %}
        </div>
        <div class="middle">
            <div class="biodatary">
                <h4>MESSAGES</h4>
            </div>
            <div class="continental">
                {% if messages %}
                    {% for messag in messages|dictsortreversed:"latest_message.timestamp" %}
                        <a href="{% url 'chat' messag.follow.id %}">
                            <div class="biodatar">
                                <div class="top-line"></div>
                                <div class="message-bio">
                                    {% if messag.follow.profile_pic %}
                                        <img src="{{messag.follow.profile_pic.url}}" alt="">
                                    {% else %}
                                        <img src="{% static 'img/user_avatar.jpg' %}" alt="">
                                    {% endif %}
                                    <div class="name-time">
                                        <h4>{{messag.follow.user.profile.firstname}} {{messag.follow.user.profile.lastname}}</h4>
                                        <p>{{messag.latest_message.timestamp|timesince}} ago</p>
                                    </div>
                                </div>
                                <div class="message-itself">
                                    <p>{{messag.latest_message.message}}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <p>Connect back with users to chat with them</p>
                {% endif %}
            </div>
        </div>
        <div class="rightz">
            {% include 'ctndrd/shopping-side.html' %}
        </div>
    </section>
    <footer class="footer">
        <div class="foot">
            <a href="{% url 'discover' %}"><button>Discover</button></a>
            <a href="{% url 'bookmarked' %}"><button>Saved</button></a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
</script>
    
{% endblock %}