{% extends 'ctndrd/base.html' %}
{% load static %}

{% block title %}my_profile{% endblock %}

{% block content %}
    <section>
        <p class="notex">Display for this device's screen width is coming soon <img class="notex-img" src="{% static 'img/ctndrd4.png' %}" alt="ctndrd"></p>
        <div class="leftz">
            {% include 'ctndrd/movie-side.html' %}
        </div>
        <div class="middle">
            <div class="biodata">
                <div class="bio">
                    {% if request.user.profile.profile_pic %}
                        <img src="{{request.user.profile.profile_pic.url}}" alt="">
                    {% else %}
                        <img src="{% static 'img/user_avatar.jpg' %}" alt="">
                    {% endif %}
                    <div class="profile">
                        <h4>{{request.user.profile.firstname}} {{request.user.profile.lastname}}</h4>
                        <p>@{{request.user.username}}</p>
                        <p>{{request.user.profile.location}}</p>
                    </div>
                </div>
                <div class="about">
                    <h5>About</h5>
                    <p>{{request.user.profile.bio}}</p>
                </div>
            </div>
            <div class="biodata">
                <div class="title">
                    {% if profile.user.posts.all %}
                        <a href="{% url 'my_post' %}"><h4>VIEW MY SOCIAL POSTS [{{profile.user.posts.all.count}}]</h4></a>
                    {% else %}
                        <a href="{% url 'home' %}"><h4>ADD POSTS TO VIEW THEM</h4></a>
                    {% endif %}
                </div>
                <div class="title one">
                    <button style="background-color: green; border-radius: 5px;"  class="edit_account"><a href="{% url 'account-settings' %}"><i class='bx  bx-cog'></i> Edit Account details</a></button>
                    <button style="background-color: red; border-radius: 5px;" class="logout"><a href="{% url 'logout' %}">Logout<i class='bx  bxs-walking'  ></i> </a></button>
                </div>
            </div>
            <div class="biodata">
                <div class="titlex">
                    <h4>REQUESTS [{{followers.count}}]</h4>
                </div>
                <div class="contx">
                    {% for s in followers %}
                        <div class="titlex two">
                            {% if s.profile_pic %}
                                <a href="{% url 'view_profile' s.id %}"><img src="{{s.profile_pic.url}}" alt=""></a>
                            {% else %}
                                <a href="{% url 'view_profile' s.id %}"><img src="{% static 'img/user_avatar.jpg' %}" alt=""></a>
                            {% endif %}
                            <div class="connect-bio">
                                <h5>{{s.firstname}} {{s.lastname}}</h5>
                                <p>@{{s.user.username}}</p>
                            </div>
                            <div class="connect-btn">
                                <a href="{% url 'decline_user' s.pk %}"><button>X</button></a>
                                <a href="{% url 'follow_user' s.pk %}"><button><i class='bx  bx-user-plus'></i></button></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="biodata">
                <div class="titlexz">
                    <h4>SUGGESTIONS [{{suggestion.count}}]</h4>
                    <form method="get" action="" class="search-suggestion">
                        <input name="q" type="text" placeholder="Enter name">
                        <button type="submit">Search</button>
                    </form>
                </div>
                <div class="contx"> 
                    {% for s in suggestion %}
                        <div class="titlex two">
                            {% if s.profile_pic %}
                                <a href="{% url 'view_profile' s.id %}"><img src="{{s.profile_pic.url}}" alt=""></a>
                            {% else %}
                                <a href="{% url 'view_profile' s.id %}"><img src="{% static 'img/user_avatar.jpg' %}" alt=""></a>
                            {% endif %}
                            <div class="connect-bio">
                                <h5>{{s.firstname}} {{s.lastname}}</h5>
                                <p>@{{s.user.username}}</p>
                            </div>
                            <div class="connect-btn-suggest">
                                <a href="{% url 'follow_user' s.pk %}"><button>Connect</button></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="biodata">
                <div class="titlex">
                    <h4>CONNECTED TO [{{profile.follows.count}}]</h4>
                </div>
                <div class="contx">
                    {% for s in profile.follows.all %}
                        <div class="titlex two">
                            {% if s.profile_pic %}
                                <a href="{% url 'view_profile' s.id %}"><img src="{{s.profile_pic.url}}" alt=""></a>
                            {% else %}
                                <a href="{% url 'view_profile' s.id %}"><img src="{% static 'img/user_avatar.jpg' %}" alt=""></a>
                            {% endif %}
                            <div class="connect-bio">
                                <h5>{{s.firstname}} {{s.lastname}}</h5>
                                <p>@{{s.user.username}}</p>
                            </div>
                            <div class="connect-btn-suggest">
                                <a href="{% url 'follow_user' s.pk %}"><button style="background-color: red; color: #f4f6fc;">Disconnect</button></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="biodata">
                <div class="titlex">
                    <h4>{{request.user.profile.firstname}}'s Photos [{{request.user.posts.count}}]</h4>
                </div>
                {% if request.user.posts.all %}
                    <div class="contxx">
                        {% for s in request.user.posts.all %}
                            <img src="{{s.image.url}}" alt="">
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="biodata">
                <div class="title">
                    <h4>CONTENT SECTION</h4>
                </div>
                <div class="titlem ones">
                    
                    <button style="
                    padding: 10px;
                    width: 100%;
                    background-color: #ffffff;
                    color: #364989;
                    border: none;
                    border-radius: 1px;
                    cursor: pointer;"><a style="color: #364989; font-size: 15px;" href="{% url 'orders' %}">View orders</a></button>

                    <button style="
                    padding: 10px;
                    width: 100%;
                    background-color: #CDDFEF;
                    color: #364989;
                    border: none;
                    border-radius: 1px;
                    cursor: pointer;" id="add-movie-btn">Product_add</button>
                    <div class="form-container" style="
                    display: none;
                    width: 100%;
                    border-radius: 12px;
                    margin-top: 15px;
                    background-color: transparent;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);" id="form-container">
                        <form style="
                        display: flex;
                        flex-direction: column;
                        width: 80%;
                        padding: 10px;" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            <label style="margin-bottom: 10px;" for="title">Product name:</label>
                            <input style="
                            height: 30px;
                            width: 100%;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            border: 1px solid #ccc;" type="text" required id="title" name="item">
        
                            
        
                            <label style="margin-bottom: 10px;" for="category">Key statement</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="text" required id="category" name="description">
        
                            <label style="margin-bottom: 10px;" for="title">Product Image</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="file" required id="movie" name="image">
        
                            <label style="margin-bottom: 10px;" for="actors">Price</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="text" required id="actors" name="price">
        
                            <button style="
                            height: 30px;
                            background-color: rgb(48, 241, 248);
                            color: #050a30;
                            margin-bottom: 20px;
                            border: none;
                            border-radius: 5px;
                            width: 50%;
                            cursor: pointer;" type="submit" name="product_submit">Submit</button>
                        </form>
                    </div>

                    <button style="
                    padding: 10px;
                    width: 100%;
                    background-color: #65A7D3;
                    color: #fff;
                    border: none;
                    border-radius: 1px;
                    cursor: pointer;" id="add-moviez-btn">Song_add</button> 
                    <div class="form-container" style="
                    display: none;
                    width: 100%;
                    border-radius: 12px;
                    margin-top: 15px;
                    background-color: transparent;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);" id="formz-container">
                        <form style="
                        display: flex;
                        flex-direction: column;
                        width: 80%;
                        padding: 10px;" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            <label style="margin-bottom: 10px;" for="title">Song Title:</label>
                            <input style="
                            height: 30px;
                            width: 100%;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            border: 1px solid #ccc;" type="text" required id="title" name="title">

                            <label style="margin-bottom: 10px;" for="title">Poster:</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="file"  id="poster" name="poster">

                            <label style="margin-bottom: 10px;" for="title">Song:</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="file" required id="movie" name="song">

                            <label style="margin-bottom: 10px;" for="actors">Artist:</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="text" required id="actors" name="artist">

                            <label style="margin-bottom: 10px;" for="category">Genre:</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="text" required id="category" name="genre">

                            <button style="
                            height: 30px;
                            background-color: rgb(48, 241, 248);
                            color: #050a30;
                            margin-bottom: 20px;
                            border: none;
                            border-radius: 5px;
                            width: 50%;
                            cursor: pointer;" name="music_submit" type="submit">Submit</button>
                        </form>
                    </div>

                    <button style="
                    padding: 10px;
                    width: 100%;
                    background-color: #386CAF;
                    color: #B2D3EB;
                    border: none;
                    border-radius: 1px;
                    cursor: pointer;" id="adda-movie-btn">Hostel_add</button>
                    <div class="form-container" style="
                    display: none;
                    width: 100%;
                    border-radius: 12px;
                    margin-top: 15px;
                    background-color: transparent;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);" id="forma-container">
                        <form style="
                        display: flex;
                        flex-direction: column;
                        width: 80%;
                        padding: 10px;" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            <label style="margin-bottom: 10px;" for="title">Hostel name:</label>
                            <input style="
                            height: 30px;
                            width: 100%;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            border: 1px solid #ccc;" type="text" required id="title" name="name">

                            

                            <label style="margin-bottom: 10px;" for="category">About</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="text" required id="category" name="about">

                            <label style="margin-bottom: 10px;" for="category">Residents</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="text" required id="category" name="residents">

                            <label style="margin-bottom: 10px;" for="category">Location</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="text" required id="category" name="location">

                            <label style="margin-bottom: 10px;" for="title">Image</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="file" required id="movie" name="image">

                            <label style="margin-bottom: 10px;" for="title">Hostel Video</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="file" id="movie" name="video">

                            <label style="margin-bottom: 10px;" for="actors">Price</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="text" required id="actors" name="price">

                            <label style="margin-bottom: 10px;" for="category">Contact</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="tel" required id="category" name="contact">

                            <button style="
                            height: 30px;
                            background-color: rgb(48, 241, 248);
                            color: #050a30;
                            margin-bottom: 20px;
                            border: none;
                            border-radius: 5px;
                            width: 50%;
                            cursor: pointer;" type="submit" name="hostel_submit">Submit</button>
                        </form>
                    </div>

                    <button style="
                    padding: 10px;
                    width: 100%;
                    background-color: #364989;
                    color: #CDDFEF;
                    border: none;
                    border-radius: 1px;
                    cursor: pointer;" id="add-moviex-btn">Movie_add</button>
                    <div class="form-container" style="
                    display: none;
                    width: 100%;
                    border-radius: 12px;
                    margin-top: 15px;
                    background-color: transparent;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);" id="formx-container">
                        <p>Restricted</p>
                        <!--<form style="
                        display: flex;
                        flex-direction: column;
                        width: 80%;
                        padding: 10px;;" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            <label style="margin-bottom: 10px;" for="title">Movie Title:</label>
                            <input style="
                            height: 30px;
                            width: 100%;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            border: 1px solid #ccc;" type="text" required id="title" name="title">

                            <label style="margin-bottom: 10px;" for="title">Poster:</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="file" required id="poster" name="poster">

                            <label style="margin-bottom: 10px;" for="title">Movie:</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="file" required id="movie" name="movie">

                            <label style="margin-bottom: 10px;" for="actors">Actors:</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="text" required id="actors" name="actors">

                            <label style="margin-bottom: 10px;" for="rating">Rating:</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" required type="number" id="rating" name="rating" step="0.1" min="0" max="10">

                            <label style="margin-bottom: 10px;" for="description">Description:</label>
                            <textarea style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" required id="description" name="description"></textarea>

                            <label style="margin-bottom: 10px;" for="category">Category:</label>
                            <input style="
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid #ccc;" type="text" required id="category" name="category">

                            <button style="
                            height: 30px;
                            background-color: rgb(48, 241, 248);
                            color: #050a30;
                            margin-bottom: 20px;
                            border: none;
                            border-radius: 5px;
                            width: 50%;
                            cursor: pointer;" name="movie_submit" type="submit">Submit</button>
                        </form>-->
                    </div>
                    <br><br><br>
                    
                    <br>

                </div>
            </div>
            <div class="productsx" >
                <h2>{{request.user.profile.firstname}}'s products</h2>
                <div class="product-gridx">
                    {% if product %}
                        {% for p in product|slice:":23" %}
                            <div class="productz">
                                <img src="{{p.image.url}}" alt="Product 1">
                                <h3>{{p.item}}</h3>
                                <p>{{p.description}}</p>
                                <p style="text-decoration: underline;">Ugshs.{{p.price}}</p> <br>
                                <button class="add-to-cart">Order {{p.item}}</button>
                                <div class="form-containerx">
                                    <form method="post" enctype="multipart/form-data" class="add-to-cart-form">
                                    {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{p.id}}" >
                                        <label for="telephone">Telephone:</label>
                                        <input type="tel" class="telephone" name="telephone" required><br>
                                        <label for="price">Price:</label>
                                        <input type="text" class="price" name="price" value="Ugshs.{{p.price}}" readonly><br>
                                        <button type="submit" style="background-color: #3498db;" name="order_submit">Yes</button>
                                        <button style="background-color: #ee3838;" type="button" class="cancel-button">No</button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Oooops.....no products to show ...!</p>
                    {% endif %}
                </div> <br>
            </div>
        </div>
        <div class="rightz">
            {% include 'ctndrd/shopping-side.html' %}
        </div>
    </section>
    <footer class="footer">
        <div class="foot">
            <a href="{% url 'discover' %}"><button>Discover</button></a>
            <a href="{% url 'bookmarked' %}"><button>Saved</button></a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
// Reusable function to toggle form container visibility
    function toggleFormContainer(buttonId, containerId) {
        const button = document.getElementById(buttonId);
        const container = document.getElementById(containerId);
        button.addEventListener('click', () => {
            container.style.display = container.style.display === 'block' ? 'none' : 'block';
        });
    }
    // Usage
    toggleFormContainer('add-movie-btn', 'form-container');
    toggleFormContainer('add-moviez-btn', 'formz-container');
    toggleFormContainer('adda-movie-btn', 'forma-container');
    toggleFormContainer('add-moviex-btn', 'formx-container');

    
    const addToCartButtons = document.querySelectorAll('.add-to-cart');

    addToCartButtons.forEach(button => {
        button.addEventListener('click', () => {
            const formContainer = button.nextElementSibling;
            formContainer.style.display = 'block';
            button.style.display = 'none';
        });
    });

    const addToCartForms = document.querySelectorAll('.add-to-cart-form');

    addToCartForms.forEach(form => {
        form.addEventListener('submit', () => {
            // Add logic to handle form submission, e.g., send data to server
            const formContainer = form.parentNode;
            const addToCartButton = formContainer.previousElementSibling;
            formContainer.style.display = 'none';
            addToCartButton.style.display = 'inline-block';
            //form.reset();
        });

        const cancelButton = form.querySelector('.cancel-button');
        cancelButton.addEventListener('click', () => {
            const formContainer = form.parentNode;
            const addToCartButton = formContainer.previousElementSibling;
            formContainer.style.display = 'none';
            addToCartButton.style.display = 'inline-block';
            form.reset();
        });
    });
</script>
    
{% endblock %}