{% extends 'ctndrd/base.html' %}
{% load static %}

{% block title %}my_profile{% endblock %}

{% block content %}
    <section>
        <p class="notex">Display for this device's screen width is coming soon <img class="notex-img" src="{% static 'img/ctndrd4.png' %}" alt="ctndrd"></p>

        <div class="biodata">
            <div class="bio">
                {% if follower.profile_pic %}
                    <img src="{{follower.profile_pic.url}}" alt="">
                {% else %}
                    <img src="{% static 'img/user_avatar.jpg' %}" alt="">
                {% endif %}
                <div class="profile">
                    <h4>{{follower.firstname}} {{follower.lastname}}</h4>
                    <p>@{{follower.user.username}}</p>
                    <p>{{follower.location}}</p>
                </div>
            </div>
            <div class="about">
                <h5>About</h5>
                <p>{{follower.bio}}</p>
            </div>
        </div>
        <div class="biodata">
            <div class="title">
                {% if follower in profile.follows.all %}
                    <a href="{% url 'follow_user' follower.pk %}"><h4 style="color: red;">DISCONNECT WITH {{follower.firstname}}</h4></a>
                {% else %}
                    <a href="{% url 'follow_user' follower.pk %}"><h4 style="color: green;">CONNECT WITH {{follower.firstname}}</h4></a>    
                {% endif %}
            </div>
        </div>
        </div>
        <div class="biodata">
            <div class="titlex">
                <h4>CONNECTED BY [{{followers.count}}]</h4>
            </div>
            <div class="contx">
                {% for s in followers %}
                    <div class="titlex two">
                        {% if s.profile_pic %}
                            <a href="{% url 'view_profile' s.id %}"><img src="{{s.profile_pic.url}}" alt=""></a>
                        {% else %}
                            <a href="{% url 'view_profile' s.id %}"><img src="{% static 'img/user_avatar.jpg' %}" alt=""></a>
                        {% endif %}
                        <div class="connect-bio">
                            <h5>{{s.firstname}} {{s.lastname}}</h5>
                            <p>@{{s.user.username}}</p>
                        </div>
                        <div class="connect-btn-suggest">
                            <a href="{% url 'follow_user' s.pk %}"><button style="background-color: rgb(48, 241, 248); color: #050a30;">Connect </button></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="biodata">
            <div class="titlex">
                <h4>CONNECTED TO [{{follower.follows.count}}]</h4>
            </div>
            {% if follower.follows.all %}
                <div class="contx">
                    {% for s in follower.follows.all %}
                        <div class="titlex two">
                            {% if s.profile_pic %}
                                <a href="{% url 'view_profile' s.id %}"><img src="{{s.profile_pic.url}}" alt=""></a>
                            {% else %}
                                <a href="{% url 'view_profile' s.id %}"><img src="{% static 'img/user_avatar.jpg' %}" alt=""></a>
                            {% endif %}
                            <div class="connect-bio">
                                <h5>{{s.firstname}} {{s.lastname}}</h5>
                                <p>@{{s.user.username}}</p>
                            </div>
                            <div class="connect-btn-suggest">
                                <a href="{% url 'follow_user' s.pk %}"><button style="background-color: rgb(48, 241, 248); color: #050a30;">Connect </button></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="biodata">
            <div class="titlex">
                <h4>{{follower.firstname}}'s Photos [{{follower.user.posts.count}}]</h4>
            </div>
            {% if follower.user.posts.all %}
                <div class="contxx">
                    {% for s in follower.user.posts.all %}
                        <img src="{{s.image.url}}" alt="">
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
</script>
    
{% endblock %}